# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
/dist/
/tsconfig.tsbuildinfo

# Editor
.vscode/
.idea/

# Dependency directories
.jest/
.npm/
.nyc_output/

# macOS
.DS_Store

# Logs
logs
*.log

# ESLint cache
.eslintcache

# Enviroment variables
.env